h1 {
  color:deepskyblue;
}
img {
  width: 400px;
}
#thirdDiv {
  height: 600px;
  width: 500px;
  background: bisque;
  padding: 50px;
  border-radius: 8px solid;
}
#spanId {
  font-size: 18px;
  margin: 50px;
}
